name: vagrant-up

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '00 4 * * 0'  # at 04:00 on Sunday (https://crontab.guru/#00_4_*_*_0)

jobs:
  vagrant-up:
    # pull requests are a duplicate of a branch push if within the same repo.
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository

    name: Build and run vagrant box
    runs-on: macos-latest
    strategy:
      fail-fast: false
    env:
      TZ: America/New_York
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Set env vars
        run: |
          export REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}  # just the repo, as opposed to org/repo
          echo "REPOSITORY_NAME=${REPOSITORY_NAME}" >> $GITHUB_ENV

          export VAGRANT_DISABLE_VBOXSYMLINKCREATE=1
          echo "VAGRANT_DISABLE_VBOXSYMLINKCREATE=${VAGRANT_DISABLE_VBOXSYMLINKCREATE}" >> $GITHUB_ENV

          export DATETIME_STRING=$(date +%Y%m%d%H%M%S)
          echo "DATETIME_STRING=${DATETIME_STRING}" >> $GITHUB_ENV

      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Show vagrant version
        run: vagrant --version

      # - name: Install vagrant plugins
      #   run: |
      #     set -vxeuo pipefail
      #     # vagrant plugin install vagrant-vbguest --plugin-version 0.21
      #     # vagrant plugin install vagrant-disksize
      #     vagrant plugin install vagrant-secret

      - name: vagrant up
        run: |
          set -vxeuo pipefail
          vagrant up

      - name: export vm
        run: |
          set -vxeuo pipefail
          vagrant package --vagrantfile Vagrantfile --output ${REPOSITORY_NAME}.box

      - name: upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.REPOSITORY_NAME }}-${{ env.DATETIME_STRING }}
          path: ${{ env.REPOSITORY_NAME }}.box
          retention-days: 90
